<%= <h1>Hola</h1> %>

<%Par e Impar %>

      <% (1..50).each do |numero| %>
      <% if numero % 2 == 0 %>
     <h1> <%= numero %>soy par </h1>
     <% else %>
     <h1> <%= numero %>soy impar </h1>
    <% end %>
  <% end %>
